!!!5
html
  head
    title #{title} - Public Site
  body
    header
      h1 Public Page
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      | footer text
    block end
      