!!!5
html
  head
    title #{title} - Public Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Public Page
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on 
        a(href='http://www.dartlang.org/') dart 
        | with 
        a(href='https://github.com/dartist/express') express 
        | and 
        a(href='https://github.com/dartist/jaded') jaded 
      block end
